# Preprocesamiento de los datos

## 1. Carga de los modulos

In [1]:
import pandas as pd
import numpy as np

## 2. Carga de los datos

In [2]:
ruta = 'C:/Users/matia/OneDrive/Escritorio/Mass_Prediction'

In [3]:
datos = 'trabajo.csv'

In [5]:
ruta_completa = ruta + '/02_Datos/03_Trabajo/' + datos
df = pd.read_csv(ruta_completa, index_col = 0, delimiter = ',')
df.head()

,Run,Event,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,147115,366639895,58.71410,-7.31132,10.531000,-57.29740,12.82020,-2.202670,2.177660,1,11.28360,-1.03234,-1.88066,-11.07780,2.14537,-2.344030,-2.07281,-1,8.94841
1,147115,366704169,6.61188,-4.15213,-0.579855,-5.11278,4.19242,-1.028420,-3.002840,-1,17.14920,-11.71350,5.04474,11.46470,12.75360,0.808077,2.73492,1,15.89300
5,147115,366663412,6.39616,-5.45672,-2.090680,-2.60078,5.84352,-0.431551,-2.775710,-1,21.38650,15.16980,-8.87030,-12.18930,17.57280,-0.647450,-0.52912,-1,18.40230
7,147115,367133576,77.00570,10.00290,9.175450,-75.80000,13.57370,-2.421030,0.742282,1,9.11623,-1.72295,-1.48674,-8.82761,2.27574,-2.064940,-2.42965,1,11.29120
9,147115,367825395,27.88120,11.93900,-18.346200,17.26960,21.88880,0.724032,-0.993887,1,12.92180,-5.02630,11.60260,2.66263,12.64450,0.209050,1.97960,-1,34.26850

## 3. Revisi√≥n de los datos

### 3.1 Vista general

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70000 entries, 0 to 99997
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Run     70000 non-null  int64
 1   Event   70000 non-null  int64
 2   E1      70000 non-null  float64
 3   px1     70000 non-null  float64
 4   py1     70000 non-null  float64
 5   pz1     70000 non-null  float64
 6   pt1     70000 non-null  float64
 7   eta1    70000 non-null  float64
 8   phi1    70000 non-null  float64
 9   Q1      70000 non-null  int64
 10  E2      70000 non-null  float64
 11  px2     70000 non-null  float64
 12  py2     70000 non-null  float64
 13  pz2     70000 non-null  float64
 14  pt2     70000 non-null  float64
 15  eta2    70000 non-null  float64
 16  phi2    70000 non-null  float64
 17  Q2      70000 non-null  int64
 18  M       69944 non-null  float64
dtypes: float64(15), int64(4)
memory usage: 10.7 MB

La variable *M* tiene datos nulos, hay que tener esto en cuenta antes de seguir avanzando.

### 3.2 Valores unicos

In [7]:
df.nunique()

Run         13
Event    69990
E1       67896
px1      68661
py1      68635
pz1      69097
pt1      65847
eta1     66983
phi1     67339
Q1           2
E2       67729
px2      68739
py2      68678
pz2      68966
pt2      66408
eta2     64860
phi2     67259
Q2           2
M        66604
dtype: int64

Da la impresi√≥n que hay registros duplicados, hay que revisar eso.

## 4. Calidad de datos

### 4.1 Valores nulos

In [8]:
df.isnull().sum()

Run       0
Event     0
E1        0
px1       0
py1       0
pz1       0
pt1       0
eta1      0
phi1      0
Q1        0
E2        0
px2       0
py2       0
pz2       0
pt2       0
eta2      0
phi2      0
Q2        0
M        56
dtype: int64

Para imputar estos datos hay que revisar la estadistica de la variable, para determinar como la vamos imputar.

In [9]:
df['M'].describe()

count    69944.000000
mean        30.033896
std         25.223775
min          2.000080
25%         12.473875
50%         21.331700
75%         39.050425
max        109.999000
Name: M, dtype: float64

El promedio me parece la opcion adecuada para imputar.

In [10]:
df['M'].fillna(df['M'].mean(), inplace = True)

C:\Users\matia\AppData\Local\Temp\ipykernel_13856\2633388338.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['M'].fillna(df['M'].mean(), inplace = True)

### 4.2 Registros duplicados

In [11]:
df.duplicated().sum()

9

In [12]:
df = df.drop_duplicates()

Eliminamos los duplicados.

**Comentario:** hay que considerar la posibilidad de realizar este mismo proceso en el dataset de validaci√≥n, para no enfretar conflictos con el modelo de ML.

## 5. Guardar el dataset

In [13]:
ruta_trabajo = ruta + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_preprocesamiento.pickle'

In [14]:
df.to_pickle(ruta_trabajo)