# Modulo 2: Fundamentos de Python

## Codigo basico: imprimir un texto

In [ ]:
print('hola mundo')
nombre = 'Juan'
edad = 35
print('Nombre: ', nombre, 'y la edad es: ', edad)
print(f'Nombre: {nombre} y la edad es: {edad}')

hola mundo
Nombre:  Juan y la edad es:  35
Nombre: Juan y la edad es: 35

## Introducir un valor por pantalla, definiendo el tipo de variable

Suma:

In [ ]:
print('Hola, bienvenid@ a la aplicacion')
op1 = float(input('Ingrese el primer número: '))
op2 = float(input('Ingrese el segundo número: '))
resultado = op1 + op2
print(f'El resultado es: ',resultado)

Hola, bienvenid@ a la aplicacion
Ingrese el primer número: 4
Ingrese el segundo número: 5
El resultado es:  9.0

Resta:

In [ ]:
print('Hola, bienvenid@ a la aplicacion')
op1 = float(input('Ingrese el primer número: '))
op2 = float(input('Ingrese el segundo número: '))
resultado = op1 - op2
print(f'El resultado es: ',resultado)

Hola, bienvenid@ a la aplicacion
Ingrese el primer número: 3
Ingrese el segundo número: 2
El resultado es:  1

Multiplicacion:

In [ ]:
print('Hola, bienvenid@ a la aplicacion')
op1 = float(input('Ingrese el primer número: '))
op2 = float(input('Ingrese el segundo número: '))
resultado = op1 * op2
print(f'El resultado es: ',resultado)

Hola, bienvenid@ a la aplicacion
Ingrese el primer número: 5
Ingrese el segundo número: 2
El resultado es:  10.0

Division:

In [ ]:
print('Hola, bienvenid@ a la aplicacion')
op1 = float(input('Ingrese el primer número: '))
op2 = float(input('Ingrese el segundo número: '))
resultado = op1 / op2
cociente = op1 // op2
resto = op1 % op2
print(f'El resultado es: ',resultado)
print(f'El cociente es: ',cociente)
print(f'El resto es: ',resto)

Hola, bienvenid@ a la aplicacion
Ingrese el primer número: 7
Ingrese el segundo número: 2
El resultado es:  3.5
El cociente es:  3.0
El resto es:  1.0

Potencia:

In [ ]:
print('Hola, bienvenid@ a la aplicacion')
op1 = float(input('Ingrese el primer número: '))
op2 = float(input('Ingrese el segundo número: '))
resultado = op1 ** op2
print(f'El resultado es: ',resultado)

Hola, bienvenid@ a la aplicacion
Ingrese el primer número: 3
Ingrese el segundo número: 3
El resultado es:  27.0

## Condicional "if":

In [ ]:
temp = 21

if temp >= 25:
  print('Hacer calor')
elif 25 > temp >= 20:
  print('Esta fresco')
else:
  print('Hace frío')

Esta fresco

## Condicionales "or" y "and":

In [ ]:
num1 = float(input('Ingrese un número: '))
num2 = float(input('Ingrese un número: '))

if num1 % 2 == 0 and num2 % 2 == 0:
  print('La suma de ambos numeros es: ', num1 + num2)
elif num1 % 2 != 0 and num2 % 2 != 0:
  print('La resta de ambos numeros es: ', num1 - num2)
elif num1 % 2 == 0 or num2 % 2 != 0:
  print('La multiplicación de ambos numeros es: ', num1 * num2)
else:
  print('La división de ambos numeros es: ', num1 / num2)

Ingrese un número: 3
Ingrese un número: 7
La resta de ambos numeros es:  -4.0

## Guia de ejercicios

### Ejercicio 1

In [ ]:
try:
  num = int(input('Ingrese un numero: '))
  if num > 0:
    print(f'{num} es un numero positivo')
  elif num < 0:
    print(f'{num} es un numero negativo')
  else:
    print('El numero es 0')
except Exception as e:
  print('No se ha ingresado un numero valido.')

Ingrese un numero: d
No se ha ingresado un numero valido

### Ejercicio 2

In [ ]:
try:
  precio = float(input('Cual es el precio del producto?: '))
  cantidad = int(input('Cuantos vas a a llevar?: '))
  if precio >= 100:
    print('Tienes que pagar: ', (precio * 0.9) * cantidad)
  elif 99.99 >= precio > 50:
    print('Tiene que pagar: ', (precio * 0.95) * cantidad)
  else:
    print('Tienes que pagar: ', precio * cantidad)
except Exception as e:
  print('Ingrese valores valido.')

Cual es el precio del producto?: a
Ingrese valores valido.

### Ejercicio 3

In [ ]:
print('--- Menú de opciones ---')
print('1. Ver perfil')
print('2. Editar configuración')
print('3. Cerrar sesión')
try:
  opcion = int(input('Elige un opcion 1, 2 o 3: '))
  if opcion == 1:
    print('Cargando el perfil del usuario...')
  elif opcion == 2:
    print('Ingresando al menú de ajustes...')
  elif opcion == 3:
    print('Cerrando sesión...')
  else:
    print('Opcion no valida')
except Exception as e:
  print('Ingrese un valor valido')

--- Menú de opciones ---
1. Ver perfil
2. Editar configuración
3. Cerrar sesión
Elige un opcion (1-3): 2
Ingresando al menú de ajustes...

### Ejercicio 4

In [ ]:
try:
  mes = str(input('Ingrese un mes del año: '))
  if mes.lower() == 'diciembre' or mes.lower() == 'enero' or mes.lower() == 'febrero':
    print('Estamos en la estación de verano')
  elif mes.lower() == 'marzo' or mes.lower() == 'abril' or mes.lower() == 'mayo':
    print('Estamos en la estación de otoño')
  elif mes.lower() == 'junio' or mes.lower() == 'julio' or mes.lower() == 'agosto':
    print('Estamos en la estación de invierno')
  elif mes.lower() == 'septiembre' or mes.lower() == 'octubre' or mes.lower() == 'noviembre':
    print('Estamos en la estación de primavera')
  else:
    print('Ingrese el nombre de un mes.')
except Exception as e:
  print('Ingrese un valor valido.')

Ingrese un mes del año: 1245
Ingrese el nombre de un mes.

### Ejericio 5

In [ ]:
num1 = float(input('Ingrese un número: '))
num2 = float(input('Ingrese un número: '))

print('---Menú de opciones---')
print('1.- Suma')
print('2.- Resta')
print('3.- Multiplicacion')
print('4.- Division')

operacion = input('Ingrese una opcion entre 1, 2, 3 o 4 para realizar algunas de las operaciones: ')

match operacion:
  case '1':
    resultado = num1 + num2
  case '2':
    resultado = num1 - num2
  case '3':
    resultado = num1 * num2
  case '4':
    try:
      resultado = num1 / num2
    except Exception as e:
      resultado = 'Error: No se puede dividir por 0'
print('El resultado es: ', resultado)

Ingrese un número: 2
Ingrese un número: 3
---Menú de opciones---
1.- Suma
2.- Resta
3.- Multiplicacion
4.- Division
Ingrese una opcion entre 1, 2, 3 o 4 para realizar algunas de las operaciones: 2
El resultado es:  -1.0

### Ejercicio 6

In [ ]:
import random as r

respuesta = 'Y'

while respuesta.upper() == 'Y':
  num_random = r.randint(1, 10)

  num_usuario = int(input('Adivina el número: '))

  if num_usuario == num_random:
    print('Adivinaste :D')
    respuesta = input('Quieres seguir jugando? Y / N: ')
    if respuesta.upper() == 'N':
      print('Gracias por participar.')
  else:
    respuesta = input('Fallaste :( ¿quieres volver a intentarlo? Y / N: ')
    if respuesta.upper() == 'N':
      print('Gracias por participar.')

Adivina el número: 3
Adivinaste :D
Quieres seguir jugando? Y / N: n
Gracias por participar.

## Estructuras de bucles

### 'while'

In [ ]:
contador = 1

while contador <= 5:
  print(contador)
  contador += 1

1
2
3
4
5

### 'for'

In [ ]:
nombres = ['Bastian', 'Elisa', 'Tomas']

for nombre in nombres:
  print(f'Hola {nombre}')

Hola Bastian
Hola Elisa
Hola Tomas

### 'in range'

In [ ]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

## Funciones

In [ ]:
def suma(num1, num2):
  suma = num1 + num2
  if suma > 10:
    comp = True
  else:
    comp = False
  return comp

op1 = float(input('Ingrese un numero: '))
op2 = float(input('Ingrese un numero: '))

print('El resultado es: ', suma(op1, op2), 'y es ')

Ingrese un numero: 3
Ingrese un numero: 4
El resultado es:  7.0

### Funciones main()

In [ ]:
def main():
  op1 = float(input('Ingrese el un numero: '))
  op2 = float(input('Ingrese el un numero: '))
  return print(f'La suma de ambos numero es {suma(op1, op2)}')

def suma(num1, num2):
  resultado = num1 + num2
  return resultado
if __name__ == '__main__':
  main()

Ingrese el un numero: 3
Ingrese el un numero: 2
La suma de ambos numero es 5.0

## Estructuras de datos

### Listas

In [ ]:
list = [1, 2, 3, 4, 5]
empty_list = []
list_comb = [1, 'hola', 3.14, True, False, 5, 'adios']
list.append(6)
#print(list)
list.insert(2, 10) #primero la posicion, luego el elemento
#print(list)
#print(list[-1])
sub_list = list_comb[2:4] #los elementos del 2 al 4, sin incluir el ultimo
#print(sub_list)
sub_list_1 = list_comb[2:] #los elementos del 2 en adelante
#print(sub_list_1)
string = 'Bienvenidos al curso de Python'
list_str = string.split()
#print(list_str)
palabras = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación']
frase = ' '.join(palabras)# las '' deben ir separadas
#print(frase)
matrix = [[1, 2], [3, 4], [5, 6]]
print(matrix)
print(matrix[2][0])

[[1, 2], [3, 4], [5, 6]]
5

### Lista por comprension

In [ ]:
#estructura => list = [expresion que quiero for item in interable de origen if condicion]
dobles = []
for numero in list:
  dobles.append(numero * 2)
print(dobles)
dobles_pares = [numero * 2 for numero in list if numero % 2  == 0]
print(dobles_pares)
dobles_impares = [numero * 2 for numero in list if numero % 2 != 0]
print(dobles_impares)

[2, 4, 20, 6, 8, 10, 12]
[4, 20, 8, 12]
[2, 6, 10]

#### Ejercicio:

1. Crea una lista llamada colores con "rojo", "verde", "azul".
2. Agrega "amarillo al final.
3. Inserta "morado" en la segunda posición.
4. Imprime el segundo elemento de la lista.
5. Imprime una sublista que contenga "verde" y "azul".
6. Divide la cadena "Python es divertido" en una lista de palabras.
7. Crea una lista que contenga los valores [2,4,5,6,9,10]
8. Obtener lista_nueva con los cuadrados de los valores de la lista anterior usando los dos metodos, for y compresion
9. Mostrar solo en una nueva lista, los valores pares

In [ ]:
colores = ['Rojo', 'Verde', 'Azul']
print(colores)
colores.append('Amarillo')
print(colores)
colores.insert(2, 'Morado')
print(colores)
print(colores[1])
print(colores[1:4])
string = 'Python es divertido'
list = string.split()
print(list)
numeros = [2, 4, 5, 6, 9, 10]
cuadrados = []
for numero in numeros:
  cuadrados.append(numero ** 2)
print(cuadrados)
cuadrados_compre = [numero ** 2 for numero in numeros]
print(cuadrados_compre)
cuadrados_pares = [numero ** 2 for numero in numeros if numero ** 2 % 2 == 0]
print(cuadrados_pares)

['Rojo', 'Verde', 'Azul']
['Rojo', 'Verde', 'Azul', 'Amarillo']
['Rojo', 'Verde', 'Morado', 'Azul', 'Amarillo']
Verde
['Verde', 'Morado', 'Azul']
['Python', 'es', 'divertido']
[4, 16, 25, 36, 81, 100]
[4, 16, 25, 36, 81, 100]
[4, 16, 36, 100]

### Diccionario

In [ ]:
dict = {'nombre': 'Maria', 'apellido': 'Perez', 'edad': 25, 'ciudad': 'Valparaiso'}
#print(dict)
dict['RUT'] = '21116109-K' #agregar una clave al diccionario
#print(dict)
#print(dict['edad']) #acceder a una clave
pais = dict.get('pais', 'No existe esta clave.')
#print(pais)
usuarios = {'usuario_1' : {'nombre': 'Maria', 'apellido': 'Perez', 'edad': 25, 'ciudad': 'Valparaiso'},
            'usuario_2' : {'nombre': 'Tomas', 'apellido': 'Castro', 'edad': 30, 'ciudad': 'Santiago'},
            'usuario_3' : {'nombre': 'Alicia', 'apellido': 'Alvarez', 'edad': 21, 'ciudad': 'Viña del Mar'}}
print(usuarios)

{'usuario_1': {'nombre': 'Maria', 'apellido': 'Perez', 'edad': 25, 'ciudad': 'Valparaiso'}, 'usuario_2': {'nombre': 'Tomas', 'apellido': 'Castro', 'edad': 30, 'ciudad': 'Santiago'}, 'usuario_3': {'nombre': 'Alicia', 'apellido': 'Alvarez', 'edad': 21, 'ciudad': 'Viña del Mar'}}

#### Ejercicio:

In [ ]:
producto = {'nombre': 'Laptop', 'precio':'599990', 'stock': 3}
producto['marca'] = 'HP'
print(producto)
print(producto['precio'])

{'nombre': 'Laptop', 'precio': '599990', 'stock': 3, 'marca': 'HP'}
599990

#### Ejercicio:

In [ ]:
libros = {'libro_1' :{'titulo': '100 años de soledad', 'autor': 'Gabriel Garcia Marquez',
                      'detalles' : {'año': 1982, 'idioma': 'Español'}},
         'libro_2': {'titulo': 'Ines del alma mia', 'autor': 'Isabel Allende',
                    'detalles': {'año': 2005, 'idioma': 'Español'}}}

print(libros)

{'libro_1': {'titulo': '100 años de soledad', 'autor': 'Gabriel Garcia Marquez', 'detalles': {'año': 1982, 'idioma': 'Español'}}, 'libro_2': {'titulo': 'Ines del alma mia', 'autor': 'Isabel Allende', 'detalles': {'año': 2005, 'idioma': 'Español'}}}

### Tuplas

In [ ]:
tuple = (1, 2, 3)
#print(tuple)
coordenadas = (10.0, 20.5)
#print(coordenadas)
elemento = (5, ) #sin la coma no es una tupla
#print(elemento)
#print(coordenadas[0])
tuple_empaquetada = 1, 2, 3 #sin los parantesis igual lo toma como tupla
print(tuple_empaquetada)
a, b, c = tuple_empaquetada #se asiganan los valores
print(a)
print(b)
print(c)

(1, 2, 3)
1
2
3

### Sets

In [ ]:
list = [1, 2, 1, True, 5.0, True, False] #la lista puede tener elementos repetidos
conjunto = {1, 2, 3}
#print(conjunto)
set_duplicados = {1, 2, 2, 3, 4, 4, 5} #los conjuntos no admiten duplicados
#print(set_duplicados)
numeros = [1, 2, 2, 3, 4, 4]
set_list = set(numeros)
#print(set_list)
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
union = set_a | set_b
print(union)
interseccion = set_a & set_b
print(interseccion)

{1, 2, 3, 4, 5, 6}
{3, 4}

## Programacion orientada a objetos

In [ ]:
class Perro: #se inicia la instancia de definir el objeto, la primera en mayuscula
  def __init__(self, nombre, edad): #se definen sus caracteristicas -> el constructor
    self.nombre = nombre
    self.edad = edad

  def ladrar(self): #se definen sus acciones -> metodo de la clase
    print(f'{self.nombre} esta ladrando')

mi_perro = Perro('Firulais', 4) #se crea definen los valores de las caracteristicas del objeto

print(f'Mi perro se llama {mi_perro.nombre} y tiene {mi_perro.edad} años')
mi_perro.ladrar()

Mi perro se llama Firulais y tiene 4 años
Firulais esta ladrando

Conceptos basicos de POO:

1.- Abstraccion: enfoque orientado a detalles relevantes.

2.- Encapsulacion: agrupar datos y metodos para manipularlos y/o controlarlos.

*Ejemplo*: codigo de cuenta bancaria del ppt.

Comentario: el atributo privado es una **convension**. A nivel de desarrollo, indica que no se debe acceder a ese dato desde metodos externos.

#### Herencia

In [ ]:
# Clase base: libro con los atributos de titulo, autor y precio
class Libro:
    def __init__(self, titulo, autor, precio):
        self.titulo = titulo
        self.autor = autor
        self.precio = precio

    def mostrar_info(self):
        print(f"'{self.titulo}' por {self.autor}, precio: ${self.precio:.2f}")

# Subclase para libros físicos: hereda los atributos de titulo, autor y precio, pero le agrega el precio
class LibroFisico(Libro):
    def __init__(self, titulo, autor, precio, peso):
        super().__init__(titulo, autor, precio)  # hereda del constructor de Libro
        self.peso = peso  #agrega el nuevo atributos, en gramos

    def mostrar_info(self):
        super().mostrar_info()
        print(f'Tipo: Físico, Peso: {self.peso}g')

# Subclase para libros digitales: hereda los atributos de titulo, autor y precio, agregando el formato
class LibroDigital(Libro):
    def __init__(self, titulo, autor, precio, formato):
        super().__init__(titulo, autor, precio) #hereda del constructor de LIbro
        self.formato = formato #el nuevo atributo

    def mostrar_info(self):
        super().mostrar_info()
        print(f'Tipo: Digital, Formato: {self.formato}')

# Uso del código
libro1 = LibroFisico('Cien años de soledad', 'Gabriel García Márquez', 12.99, 450)
libro2 = LibroDigital('Python para principiantes', 'Ana Pérez', 8.99, 'PDF')

libro1.mostrar_info()
print()
libro2.mostrar_info()

'Cien años de soledad' por Gabriel García Márquez, precio: $12.99
Tipo: Físico, Peso: 450g

'Python para principiantes' por Ana Pérez, precio: $8.99
Tipo: Digital, Formato: PDF